body {
	background-color: rgb(32, 24, 14);
	color: rgb(255, 255, 255);
	font-family: monospace;
}
header {
	display: block;
}
/* RGB(240, 253, 204) */
div {
	border-radius: 10px;
	border-style: groove;
}
.post {
	text-align: center;
	width: 50%;
	padding: 5px;
	border-color: rgb(240, 253, 204);
/*	border-color: rgb(135, 110, 223);
	border-top-color: rgb(219, 3, 169);
	border-bottom-color: rgb(99, 206, 196);*/
}
.life-updates {
	text-align: center;
	width: 25%;
	float: right;
	border-color: rgb(219, 3, 169);
}
